---
---
$header-heading-color: #fff !default;
$header-bg-color: ##395470 !default;
$header-bg-color-secondary: #155799 !default;


@import "{{ site.theme }}";


/* main title */
.project-name a{
  color: white
}


/* VPN table */

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}


.label-warning {
  background-color: #f0ad4e;
  color: white
}
.label-success {
  background-color: #449d44;
  color: white
}
